.scroll{
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.5s, opacity 0.5s;
    
}

.scroll.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  }

  .fixed {
    position:fixed;
    bottom:20px;
    right:20px;
  }